@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.board-container {
  font-family: 'Caveat', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.loading-text {
  color: #d485b6;
  font-size: 20px;
  font-family: 'Caveat', cursive;
}

.board {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #d485b6;
  font-size: 24px;
  text-align: center;
}

.lists-container {
  color: #5cebe4;
  display: flex;
  overflow-x: auto;
  font-family: 'Caveat', cursive;
  white-space: nowrap;
  scroll-behavior: smooth;
  justify-content: center;
}

.list {
  min-width: 200px;
  flex-shrink: 0;
}

.add-list-button {
  background-color: #f0e68c;
  color: #cfa6d8;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Caveat', cursive;

  &:hover {
    background-color: #6419b9;
  }
}

.delete-board-button {
  background-color: red;
  color: red;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.delete-board-button:hover {
  background-color: darkred;
}
