@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.board-container {
  font-family: 'Caveat', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 20px;
  margin-top: 20px;
}
.board {
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 275px;
}

.delete-board-button {
  background-color: rgb(255, 107, 107);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.delete-board-button:hover {
  background-color: rgb(255, 4, 4);
}
.editable-board-background {
  display: flex;
  justify-content: flex-start; 
}

.editable-board-background label {
  display:inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 10px; 
  margin-right: 10px;
  line-height: 1;
}

.editable-board-background input[type='color'] {
  margin-right: 20px;
  margin-top: 25px;
  appearance: none; 
  -webkit-appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: currentColor; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.editable-board-background input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%; 
}

.editable-board-background input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50%; 
}

.editable-board-background input[type='color']:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.editable-board-background input[type="radio"] {
  appearance: none;  
  -webkit-appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #f1f1f1;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.editable-board-background input[type="radio"]:checked {
  background-color: #88e2f9;  
}

.editable-board-background input[type="radio"]:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);  
}

/* Стилі для контейнера з зображенням */
.editable-board-background .image-upload-container {
  display: ruby;
  flex-direction: column;
  align-items: flex-start; 
  gap: 10px; 
  margin-top: -70px;
}

/* Стилі для кнопки "Вибрати файл" */
.editable-board-background input[type="file"] {
  color: transparent; 
  margin-top: 75px; 
  cursor: pointer;
}

/* Стилі для кнопки "Зберегти картинку" */
.editable-board-background button {
  margin-top: 10px;
 
}

/* Приховуємо текст "Файл не вибрано" */
.editable-board-background .file-name {
  opacity: 0;
    width: 0;
  height: 0;
}

.editable-board-background input[type="file"]::-webkit-file-upload-button {
  background-color: #7fdce2; 
  color: white; 
  border: none;
  padding: 8px 12px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Caveat', cursive;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.editable-board-background input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #588bcf; 
}

.editable-board-background input[type="file"]::-webkit-file-upload-button:active {
  background-color: #3945cb; 
  transform: scale(0.98);
}
.editable-board-background .image-upload-container div {
  height: 30px;
  width: 45px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 148px;
  margin-bottom: -5px;
  margin-right: 10px;
}

.save-color-btn {
  margin-left: 20px; 
}


.save-image-btn {
  margin-left: -105px; 
}

.boardPage {
  width: 100%;
  height: 100%;
  position: relative;
}

.boardPage .board{
  width: 96%;
  height: 580px;
}

.boardPage .board-item{
  height: 480px;
}
.boardPage .board-title{
  font-size: 60px;
  color: #000000;
}
.boardPage .delete-board-button{
  position: absolute; 
  top: 550px; 
  right: 80px; 
  padding: 10px 20px;
  background-color: #fd7283;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.boardPage .add-list-button{
  position: absolute; 
  top: 120px; 
  left: 120px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.lists {
  width: calc(100% - 120px); 
  height: 341px;
  display: flex;
  margin-top: -440px;
  overflow-x: auto;
  padding: 10px 0;
  white-space: nowrap;
  position: sticky;
  margin-left: 60px;
  margin-right: 60px; 
}
.list-item {
  flex-shrink: 0;
  margin-right: 70px; 
}

.lists::-webkit-scrollbar {
  height: 20px; 
  
}

.lists::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

.lists::-webkit-scrollbar-thumb {
  background: #ffc29c; 
  border-radius: 10px; 
}

.lists::-webkit-scrollbar-thumb:hover {
  background: #88e2f9; 
}
.progress-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
