@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.board-container {
  font-family: 'Caveat', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; /* дозволяє елементам переходити на новий рядок */
  justify-content: space-between; /* вирівнює дошки по горизонталі з проміжками */
  gap: 20px;
  margin-top: 20px;
}
.board {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 275px;
}

// кнопка видалення
.delete-board-button {
  background-color: rgb(255, 107, 107);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.delete-board-button:hover {
  background-color: rgb(255, 4, 4);
}


.editable-board-background label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}
.editable-board-background input[type='color'] {
  appearance: none; /* Прибираємо стандартний вигляд */
  -webkit-appearance: none; /* Для браузерів на базі WebKit */
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%; /* Створюємо коло */
  background-color: currentColor; /* Відображає вибраний колір */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.editable-board-background input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%; /* Для внутрішнього кола */
}

.editable-board-background input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50%; /* Коло для вибраного кольору */
}

.editable-board-background input[type='color']:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.boardPage {
  width: 100%;
  height: 100%;
  position: relative;
}

.boardPage .board{
  width: 96%;
  height: 580px;
}

.boardPage .board-item{
  height: 480px;
}
.boardPage .board-title{
  font-size: 60px;
  color: #000000;
}
.boardPage .delete-board-button{
  position: absolute; 
  top: 550px; 
  right: 80px; 
  padding: 10px 20px;
  background-color: #fd7283;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.boardPage .add-list-button{
  position: absolute; 
  top: 120px; 
  left: 120px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.lists {
  width: calc(100% - 120px); /* Враховуємо лівий і правий маргін для контейнера */
  display: flex;
  margin-top: -440px;
  overflow-x: auto;
  padding: 10px 0; /* Встановлюємо padding зліва та справа */
  white-space: nowrap;
  position: relative;
  margin-left: 60px; /* Додаємо відступ зліва */
  margin-right: 60px; /* Додаємо відступ праворуч, якщо потрібно */
}
.list-item {
  flex-shrink: 0; /* Це забороняє елементам зменшуватись в ширину */
  margin-right: 70px; /* Відстань між списками */
}

.lists::-webkit-scrollbar {
  height: 20px; /* Висота горизонтального скролбару */
}

.lists::-webkit-scrollbar-track {
  background: #f1f1f1; /* Колір фону для треку скролбару */
  border-radius: 10px;
}

.lists::-webkit-scrollbar-thumb {
  background: #ffc29c; /* Колір повзунка */
  border-radius: 10px; /* Округлені кути повзунка */
}

.lists::-webkit-scrollbar-thumb:hover {
  background: #88e2f9; /* Колір повзунка при наведенні */
}