.Content {
  display: flex;
  flex-wrap: wrap; /* Дошки будуть переноситися на новий рядок, якщо не поміщаються */
  gap: 20px; /* Відступи між дошками */
  margin-top: 20px; /* Відступ зверху для більшого простору */
  justify-content: space-around;
}

.board-list-title {
  font-size: 28px; /* Розмір шрифта */
  color: #121279; /* Колір тексту */
  text-align: center; /* Вирівнювання тексту по центру */
  font-family: 'Caveat', cursive; /* Шрифт */
}

.add-board-button {
  background-color: #ffffff;
  color: #5cebe4;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 10px auto;
}

.add-board-button:hover {
  color: #6419b9;
}

.board-item {
  // background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 190px;
}

.board-title {
  font-size: 22px;
  color: #5cebe4;
  cursor: pointer;
  transition: color 0.3s;
  margin-bottom: 80px;
  margin-top: -15px;
}